@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html {
    text-align: center;
    font-family: Poppins, 'Segoe UI';
}

/* nav{
    position: fixed;
    top : 0;
    padding: 25px;
    width: 100%;
    border-bottom: 2px solid #e3e3e3;
}

nav a {
    text-decoration: none;
    color: #929292;
    margin: 0 20px;
}

nav a:hover{
    color: black;
}

nav a.active{
    color:black;
} */


.title h1{
    font-size: 3rem;
    font-weight: 800;
}

.title {
    text-align: center;
    padding-top: 5rem;
    max-width: 550px;    
    margin: 0 auto;
}

a{
    margin: 0 auto;
}
#cta-button {
    border-radius: 25px;
    background-color: #73AD21;
    padding-top: 0px;
    width: 1000px;
    height: 150px;
}

nav {
    position: fixed;
    text-decoration: 0;
}